{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Accueil</h1>

    {% for rubrique, messages in app.flashes %}
        <div class="{{ rubrique }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    <ul>
    {% for theme in themes %}
        <li>
            <a href="{{ path('app_theme', {'slug': theme.slug}) }}">{{ theme.nom }}</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ path('app_test')}}">TEST</a>

{% endblock %}
