{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <h1>{{ theme.nom }}</h1>
        <ul>
        {% for post in posts %}
                <article>

                        <header>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                        <div>
                                                <p>{{ post.title }}</p>
                                        </div>
                                        <div class="like-button like_container">
                                                {% if app.user and post.isLikedByUser(app.user) %}
                                                        <img alt="logo_like" style="width: 25px; height: 25px;" src="{{ asset('img/isliked.svg') }}"/>
                                                {% else %}
                                                        <img alt="logo_not_like" style="width: 25px; height: 25px;" src="{{ asset('img/isnotliked.svg') }}"/>
                                                {% endif %}
                                                <a href="{{ path('app_like_post', {'id': post.id} )}}" >

                                                        {{ post.getLikesCount() }}
                                                </a>
                                        </div>
                                </div>
                        </header>
                        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                <div>
                                        <p>{{ post.content }}</p>
                                </div>
                                {% if post.imageFilename  %}
                                <div>
                                        <img width="300px" src="{{ asset('images/posts/' ~ post.imageFilename) }}" alt="Image">
                                </div>
                                {% endif %}
                        </div>

                        <footer>Créé par {{ post.user.name }}  le {{ post.getCreatedAt()|date('Y-m-d') }}</footer>
                </article>
        {% endfor %}
        </ul>
{% endblock %}







