{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <h1>{{ theme.nom }}</h1>
        <ul>
        {% for post in posts %}
                <article>
                        <header>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                        <div>
                                                <p>{{ post.title }}</p>
                                        </div>
                                        <div>
                                                <a href="{{ path('app_like_post', {'id': post.id, 'theme': theme.id } )}}"><img alt="logo_like" style="width: 25px; height: 25px;" src="{{ asset('build/img/like.svg') }}"/>{{ post.getLikesCount() }}</a>
                                        </div>
                                </div>
                        </header>
                        {{ post.content }}
                        <footer>Créé par {{ post.user.name }}  le {{ post.getCreatedAt()|date('Y-m-d') }}</footer>
                </article>
        {% endfor %}
        </ul>
{% endblock %}
